<div class="col-lg-10 col-lg-offset-1">
    <div class="home-div home-text">
        <div style="margin:auto;background-image: url('resources/images/factory.png');height: 100px;width: 100px;border-radius: 50px;background-size: cover;"></div>
        <h1>¿Quieres enviar carga?</h1>
        <p>Easyruta te ayuda manejar la logistica de tu negocio, automatizando todo el proceso desde el ingreso del pedido, hasta la entrega en su destino.</p>
        <p>Con Easyruta podras ingresar un pedido rapidamente, seleccionar todoas las condiciones que requieras de tu transportista, y beneficiarte de una Red de empresas de transporte que estaran simpre listas y dispuestas a llevar tu carga, todo esto simplemente con un click.</p>
        <p>Tambien podras dar seguimiento a tus cargas en todo momento, sin necesidad de llamadas telefonicas ni emails, seras notficado constantemente del avance de tu pedido, y podras verificar online la ubicacion del mismo</p>
        <div style="text-align: center">
            <input type="button" class="btn-primary" value="REGISTRA TU EMPRESA HOY!!!" style="margin:auto;padding:10px;border-radius:5px;display:block">
            <span style="font-size:12px">Nuestro servicio para empresas es y siempre sera GRATUITO.</span>
        </div>
    </div>
</div>

