<div class="col-sm-2">
    <button class="btn btn-info" type="button" ng-click="agrPedCtrl.GuardarComoPlantilla(agrPedForm)"
            ng-disabled="
                    agrPedForm.inputCiudadOrigen.$invalid
                    || agrPedForm.inputDireccionOrigen.$invalid
                    || agrPedForm.inputCiudadDestino.$invalid
                    || agrPedForm.inputDireccionDestino.$invalid
                    || agrPedForm.inputHoraCarga.$invalid
                    || agrPedForm.inputHoraDescarga.$invalid
                    || agrPedForm.inputProducto.$invalid
                    || agrPedForm.inputValor.$invalid
                    || agrPedCtrl.data.ValorUnitario <= 0
                    || ((agrPedForm.inputPesoDesde.$invalid || agrPedCtrl.data.PesoDesde <= 0)
                        || (agrPedForm.inputPesoHasta.$invalid || agrPedCtrl.data.PesoHasta <= 0))
                ">Guarda como Plantilla</button>
</div>
<div class="col-sm-7">
    <button class="btn btn-warning" type="button" ng-click="agrPedCtrl.Limpiar(agrPedForm)">Limpiar formulario</button>
</div>
<div class="col-sm-3">
    <div class="input-group">
        <span class="input-group-addon">Copias</span>
        <input type="number" class="form-control input" id="inputCopias" name="inputCopias" ng-model="agrPedCtrl.copias">
        <span class="invalid-label" ng-show="agrPedForm.inputCopias.$dirty && (agrPedForm.inputCopias.$invalid || agrPedCtrl.copias <= 0)">
            <span ng-show="agrPedForm.inputCopias.$error.required">Copias es requerido.</span>
            <span ng-show="agrPedForm.inputCopias.$dirty && agrPedCtrl.copias <= 0">Numero de copias debe ser mayor a 0.</span>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="agrPedCtrl.Agregar(agrPedForm)"
                    ng-disabled="
                        agrPedForm.inputCiudadOrigen.$invalid
                        || agrPedForm.inputDireccionOrigen.$invalid
                        || agrPedForm.inputCiudadDestino.$invalid
                        || agrPedForm.inputDireccionDestino.$invalid
                        || agrPedForm.inputHoraCarga.$invalid
                        || agrPedForm.inputHoraDescarga.$invalid
                        || agrPedForm.inputProducto.$invalid
                        || agrPedForm.inputValor.$invalid
                        || agrPedCtrl.data.ValorUnitario <= 0
                        || ((agrPedForm.inputPesoDesde.$invalid || agrPedCtrl.data.PesoDesde <= 0)
                            || (agrPedForm.inputPesoHasta.$invalid || agrPedCtrl.data.PesoHasta <= 0))
                        || agrPedForm.inputCopias.$invalid
                        || agrPedCtrl.copias <= 0
                    ">Agregar Pedido</button>
        </span>
    </div>
</div>
