<div ng-controller="historicoController as ctlr">
    <div ng-include="'templates/components/master_page_private.html'"></div>

    <div class="col-md-12 col-lg-10 col-lg-offset-1" style="margin-top: 70px;">
        <div id="pedidosActivos" class="panel panel-default col-nopadding">
            <div class="panel-heading">Historico de pedidos</div>
            <div class="panel-body col-nopadding">
                <div ng-repeat="pedido in ctlr.pedidos" ng-click="ctlr.verDetalle(pedido.id)" style="cursor: pointer;">
                    <div class="col-sm-12 list-highligh">
                        <div class="col-sm-1 list-item-image" ng-class="pedido.background"/>
                        <div class="col-sm-3">
                            <span class="list-heading" style="display: block">{{pedido.viaje}}</span>
                            <span class="list-item">{{pedido.creacion}}</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="list-item" style="display: block;padding:5px 0px 5px 0px;">{{pedido.producto}}</span>
                            <span class="list-item">{{pedido.finalizacion}}</span>
                        </div>
                        <div class="col-sm-1"><div class="list-item-image" ng-style="{'background-image': 'url(' + pedido.transportista.imageUrl + ')'}"/></div>
                        <div class="col-sm-4">
                            <span class="list-heading" style="display: block">{{pedido.transportista.referencia}}</span>
                            <span class="list-item-label">Telefono:</span><span class="list-item">{{pedido.transportista.telefono}}</span>
                        </div>
                    </div>

                    <hr class="col-sm-11">
                </div>
            </div>
        </div>
    </div>
</div>
