<md-dialog  ng-cloak layout="column" layout-align="center center">
    <form id="loginForm" name="loginForm">
        <md-dialog-content layout-padding layout-align="start center">
            <img src="../../assets/images/logo_new.png">
            <h2>Ingresa con tu cuenta de Easyruta</h2>
            <md-input-container class="md-block">
                <label>Email</label>
                <input ng-model="user.username" type="email" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Clave</label>
                <input ng-model="user.password" type="password" required>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span class="text-red text-medium" ng-show="showError">{{error}}</span>
            <md-button layout="row" layout-align="space-around" class="md-raised md-primary" ng-Click="login()" ng-disabled="loginForm.$invalid || processing">
                <md-progress-circular md-diameter="20px" ng-show="processing"></md-progress-circular>
                <span ng-show="processing == false">ingresar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


