<div class="col-sm-12" style="background-color: #505050;opacity: 0.8;height: 50px;margin-bottom: 10px;height: 50px; width: 100%; position: fixed; left: 0px; top: 0px;z-index: 99;">
    <div class="col-md-12 col-lg-10 col-lg-offset-1 center-content" style="height: 50px" ng-controller="MasterPageController as ctlr">
        <div class="col-sm-12">
            <span class="menu">
                <a ng-click="ctlr.scrollTo('content1')">como funciona</a>
                <span class="menu-separator">|</span>
                <a ng-click="ctlr.scrollTo('content2')">empresas</a>
                <span class="menu-separator">|</span>
                <a ng-click="ctlr.scrollTo('content3')">transportistas</a>
                <span class="menu-separator">|</span>
                <a ng-click="ctlr.scrollTo('content4')">contáctenos</a>
                <span class="menu-separator">|</span>
                <a ng-click="ctlr.toggleLogin(true)">ingreso</a>
            </span>
        </div>
    </div>
</div>
<div id="login" style="height: 100vh;width:100vw;background-color: rgba(0,0,0,0.8);position: absolute;top:0;left:0;z-index: 100">
    <div style="height:300px;width:300px;background-color:#666;margin:150px auto 0px auto;border-radius: 20px" ng-controller="LoginController as loginCtrl">
        <form name="loginForm" ng-submit="loginForm.$valid" novalidate style="margin: 20px">
            <label for="username" class="control-label" style="color: white;margin-top: 20px;">Usuario</label>
            <input type="email" id="username" class="form-control" ng-model="loginCtrl.user.username" required/>
            <label for="password" class="control-label" style="color: white;">Clave</label>
            <input type="password" id="contrasena" class="form-control"  ng-model="loginCtrl.user.password" required/>
            <span style="color: white;float: right;" ng-show="loginCtrl.showError"><span style="margin-right: 10px;" class="glyphicon glyphicon-remove"></span>{{loginCtrl.error}}</span>
            <hr style="margin-bottom: 20px;margin-top:20px;">
            <input type="submit" value="Ingresar" class="btn btn-default" ng-click="loginCtrl.Login()"/>
            <input type="submit" value="Cancelar" class="btn btn-default" ng-click="loginCtrl.toggleLogin(false)"/>
        </form>
    </div>
</div>