<div class="col-lg-10 col-lg-offset-1">
    <table style="width: 300px;color: #ffffff;margin-top:20px;line-height:40px;font-weight:100">
        <tr>
            <td>Celular:</td><td><span style="font-weight: 300">593 098 1977334</span></td>
        </tr>
        <tr>
            <td>Dirección:</td><td><span style="font-weight: 300">Aut. Medio Ejido Sayausi</span></td>
        </tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        <tr>
            <td>Información:</td><td><span style="font-weight: 300;"><a style="color: #ffffff; text-decoration: underline" href="mailto:info@easyruta.com">info@easyruta.com</a></span></td>
        </tr>
        <tr>
            <td>Soporte:</td><td><span style="font-weight: 300;"><a style="color: #ffffff; text-decoration: underline" href="mailto:soporte@easyruta.com">soporte@easyruta.com</a></span></td>
        </tr>
    </table>
    <div style="position: relative;bottom: 0px;text-align: center">
        <span style="color: #ffffff">Copyright 2015 Easyruta. All Rights Reserved.</span>
    </div>
</div>

