#header {
  background-color: $white;
  @include app-positioning;
  .exit {
    height: 20px;
    font-size: $text-x-large;
    font-weight: 400;
    img {
      max-height: 20px;
      margin-right: 5px;
    }
  }
  .actions {
    position: relative;
    top: -38px;
    height: 28px;
  }
}
