ul.pedidos {
  list-style-type: none;
  margin-top: 20px;
  li {
    border-bottom: solid 1px $light_gray;
    border-top: solid 1px $light_gray;
    margin-bottom: 5px;
    .body {
      background-color: $white;
      margin-left: 15px;
      .transportista {
        background-color: $light_gray;
        .rate-container {
          width: 170px;
          padding: 10px 20px 10px 20px;
          background-color: $blue;
          box-shadow: 2px 2px 1px $darker_gray;
        }
      }
    }
    .menu-button {
      width: 40px;
      background-color: $light_gray;
      border: solid 1px $dark_gray;
    }
    .map {
      height: 185px;
    }
  }
  .pedido-donacion {
    background: linear-gradient(yellow,blue,red)
  }
  .pedido-pendientes {
    background-color: $red;
  }
  .pedido-activos {
    background-color: $yellow;
  }
  .pedido-en-curso {
    background-color: $light_blue;
  }
  .pedido-completados {
      background-color: $green;
  }
}

