<div class="col-sm-1 col-md-0 col-lg-1"></div>
<div class="col-sm-10 col-md-6 col-lg-4">
    <div class="home-div home-text">
        <h3>Como funciona</h3>
        <p>Easyruta simplifica la logística del envió de carga comunicando de manera eficiente a las fabricas con las empresas de transporte; easyruta le acompaña en todo el proceso: desde el ingreso del pedido hasta la entrega de la carga.</p>
        <p>
            <ol>
                <li>Se ingresa un nuevo pedido desde Fabrica.</li>
                <li>La empresa de Transporte toma el pedido.</li>
                <li>La Fabrica confirma el Pedido.</li>
                <li>La empresa de Transporte recoge y entrega la carga a su destino.</li>
            </ol>
        </p>
    </div>
</div>
<div class="col-sm-10 col-md-6 col-lg-4" style="height: 80vh;">
    <div style="background-image: url('resources/images/factory.png');height: 100px;width: 100px;border-radius: 50px;background-size: cover;position: relative;top: 160px;left: 100px;" ></div>
    <div style="position: relative;top: 0px;left: 70px;transform: rotate(90deg) scale(0.4,0.5);">
        <img src="resources/images/arrow.png">
    </div>
    <div style="background-image: url('resources/images/truck.png');height: 100px;width: 100px;border-radius: 50px;background-size: cover;position: relative;top: -140px;left: 310px;" ></div>
    <div style="position: relative;top: -260px;left: 30px;transform: rotate(200deg) scale(0.5,0.4);">
        <img src="resources/images/arrow.png">
    </div>
    <div style="background-image: url('resources/images/truck_dock.png');height: 100px;width: 100px;border-radius: 50px;background-size: cover;position: relative;top: -440px;left: 110px;" ></div>
</div>

