/*
* Bootstrap ovewrites
*/
body{
    font-family: 'Roboto';
}

.control-label {
    font-family: 'Roboto', Arial;
    color: #606060;
    font-weight:100;
}

.form-control{
    font-weight: 300;
    color: #000000;
}

.panel-heading{
    font-weight: 100;
}

.panel-title{
    font-weight: 100;
}

/*
* Bootstrap complements
*/
.panel-heading-actions{
    height: 55px;
}

.panel-footer-actions{
    height: 55px;
}

.control-label-light{
    color: white;
}

.input-nolabel{
    margin-top: 27px;
}

.col-nopadding{
    padding-left: 0px;
    padding-right: 0px;
}

/*
* Custom classes
*/
.center-content{
    display: flex;
    align-items: center;
}
.center-content-horizontal{
    align-items: center;
    justify-content: center;
    display: flex;
}
.highligthed-section{
    background-color: #F0F0F0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
.list-heading{
    font-weight: 100;
    font-size: 14pt;
}
.list-item{
    font-weight: 300;
    font-size: 8pt;
}
.list-item-label{
    font-weight: 100;
    font-size: 8pt;
    margin-right: 5px;
}

/*
* User controls and widgets
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.time-picker-horizontal{
    margin-top: -7px;
}


/*
* Form Validations
*/
.ng-invalid.ng-dirty{
    border-color: #FA787E;
}

/*
.ng-valid.ng-dirty{
    border-color: #78FA89;
}
*/

.invalid-label{
    color: #FA787E;
}

/*
* Agregar pedido specifics
*/
#agregarPedido{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#agregarPedidoHeading{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}