<div id="pedidosActivos" class="panel panel-default col-nopadding" ng-controller="TransportistasProveedorController as ctlr">
    <div class="panel-heading">
        Transportistas
        <span class="glyphicon glyphicon-plus-sign" style="float: right;cursor: pointer;" ng-click="ctlr.AgregarTransportista()"></span>
    </div>
    <div class="panel-body col-nopadding pedidos-lists-transportistas">
        <div ng-repeat="transportista in ctlr.transportistas" class="col-sm-12 col-md-6" style="text-align:center;cursor: pointer" ng-click="ctlr.DetalleTransportista(transportista)">
            <img class="list-item-image-sm list-item-image-block" ng-src="{{transportista.photo}}" style="margin:auto;"/>
            <span class="list-item-md" style="margin:auto;display: block">{{transportista.referencia}}</span>
            <span class="list-item-sm" style="margin:auto;" ng-show="transportista.esTercero">(Tercero)</span>
            <div class="list-item-check" ng-class="transportista.checkColor" ng-attr-title="{{transportista.estado}}">
                <span class="glyphicon" ng-class="transportista.checkGlyphicon" style="color: white;"/>
            </div>
        </div>
    </div>
    <div ng-include="'templates/confirm_dialog.html'"></div>
</div>
