<div id="pedidosPendientes" class="panel panel-primary col-nopadding" ng-controller="PedidosPendientesController as ctlr">
    <div class="panel-heading">Pendientes ({{ctlr.pedidos.length}} - por confirmar {{ctlr.pedidosPorConfirmarProveedor}})</div>
    <div class="panel-body col-nopadding pedidos-lists-pendientes-proveedor">

        <div ng-repeat="pedido in ctlr.pedidos" class="col-sm-12">

            <div class="col-sm-2 list-item-image" style="margin-right: 20px;" ng-style="{'background-image': 'url(' + pedido.image + ')'}"/>
            <div class="col-sm-3 col-nopadding">
                <span class="list-heading list-item-block">{{pedido.viaje}}</span>
                <span class="list-item list-item-block">{{pedido.carga}}</span>
                <span class="list-item list-item-block">{{pedido.entrega}}</span>
            </div>
            <div class="col-sm-4 col-nopadding">
                <span class="list-item-highlight list-item-block">{{pedido.valores}}</span>
                <span class="list-item list-item-block">{{pedido.cantidad}}</span>
                <span class="list-item list-item-block">{{pedido.transporte}}</span>
                <span class="list-item list-item-block">{{pedido.transporte_extra}}</span>
            </div>
            <div class="col-sm-4 col-nopadding" ng-show="pedido.estado == 'Pendiente'">
                <div class="col-sm-9 col-nopadding" style="width: 205px;overflow-x: scroll;white-space: nowrap;">
                    <div class="list-item-inline" ng-repeat="transportista in pedido.transportistas" style="text-align:center;">
                        <img class="list-item-image-sm list-item-image-block" ng-src="{{transportista.photo}}"  ng-click="ctlr.proveedor_tomar(pedido,transportista)" style="cursor: pointer;margin:auto;"/>
                        <span class="list-item-md" style="margin:auto;display: block">
                            {{transportista.referencia}}
                            <span class="list-item-sm" ng-show="transportista.esTercero">(Tercero)</span>
                        </span>
                        <div class="list-item-check list-item-check-orange" style="cursor:context-menu;" ng-attr-title="{{transportista.horaDisponible}}">
                            <span style="color: white;">{{transportista.priority}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-nopadding" style="float: right">
                    <input type="button" class="btn btn-danger" value="Ignorar" ng-click="ctlr.ignorar(pedido)"/>
                </div>
            </div>
            <div class="col-sm-4 col-nopadding" ng-show="pedido.estado == 'PendienteConfirmacion'">
                <div class="col-sm-5">
                    <span class="list-item-highlight list-item-block" style="font-size: 25pt;">{{pedido.timer.value}}</span>
                </div>
                <div class="col-sm-7 col-nopadding">
                    <div class="col-sm-4 col-nopadding">
                        <div class="list-item-image" ng-style="{'background-image': 'url(' + pedido.transportista.photo + ')'}"/>
                    </div>
                    <div class="col-sm-8 col-nopadding">
                        <div class="col-sm-12 col-nopadding">
                            <span class="list-heading2">{{pedido.transportista.referencia}}</span>
                        </div>
                        <div class="col-sm-12 col-nopadding">
                            <div class="col-sm-12 col-nopadding"><span class="list-item-label">Telefono:</span><span class="list-item">{{pedido.transportista.telefono}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-nopadding" ng-show="pedido.estado == 'PendienteConfirmacionProveedor'">
                <span class="list-item list-item-block" style="margin-bottom: 10px;">Seleccione un transportista para confirmar, o presione <a class="link-danger" ng-click="ctlr.proveedor_rechazar(pedido)">rechazar.</a></span>
                <div class="col-sm-5">
                    <span class="list-item-highlight list-item-block" style="font-size: 25pt;">{{pedido.timer.value}}</span>
                </div>
                <div class="col-sm-7 col-nopadding" style="width: 150px;overflow-x: scroll;white-space: nowrap;">
                    <div class="list-item-inline" ng-repeat="transportista in pedido.transportistas" style="text-align:center;">
                        <img class="list-item-image-sm list-item-image-block" ng-src="{{transportista.photo}}"  ng-click="ctlr.proveedor_confirmar(pedido,transportista)" style="cursor: pointer;margin:auto;"/>
                        <span class="list-item-md" style="margin:auto;display: block">
                            {{transportista.referencia}}
                            <span class="list-item-sm" ng-show="transportista.esTercero">(Tercero)</span>
                        </span>
                        <div class="list-item-check list-item-check-orange" style="cursor:context-menu;" ng-attr-title="{{transportista.horaDisponible}}">
                            <span style="color: white;">{{transportista.priority}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-sm-11">
        </div>
    </div>
    <div ng-include="'templates/confirm_dialog.html'"></div>
</div>
