<div id="pedidosPendientes" class="panel panel-default col-nopadding" ng-controller="PedidosPendientesController as ctlr">
    <div class="panel-heading">Pendidos Pendientes</div>
    <div class="panel-body col-nopadding">
        <div ng-repeat="pedido in ctlr.pedidos" class="col-sm-12" ng-click="ctlr.verDetalle(pedido.json.id)" style="cursor: pointer;">
            <div class="col-sm-12 col-nopadding backgroud-photo" ng-class="pedido.background"><div class="backgroud-photo-heading"><span class="list-heading">{{pedido.json.viaje}}</span></div></div>
            <div class="col-sm-12 col-nopadding"><span class="list-item-label">Carga:</span><span class="list-item">{{pedido.json.carga}}</span></div>
            <div class="col-sm-12 col-nopadding"><span class="list-item-label">Entrega:</span><span class="list-item">{{pedido.json.entrega}}</span></div>
            <div class="col-sm-12 col-nopadding highligthed-section" ng-show="pedido.json.estado == 'PendienteConfirmacion'">
                <div>
                    <!--
                    <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 1"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 1"></span>
                    <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 2"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 2"></span>
                    <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 3"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 3"></span>
                    <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 4"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 4"></span>
                    <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') = 5"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 5"></span>
                    -->
                </div>
                <div class="col-sm-12 center-content-horizontal"><span class="list-heading">Ya tienes conductor:</span></div>
                <div class="col-sm-12 center-content-horizontal"><span class="list-item">100% efectividad</span></div>
                <div class="col-sm-12 center-content-horizontal"><span class="list-item">50 reviews</span></div>
                <div class="col-sm-12">
                    <input type="button" value="Confirmar" class="btn btn-primary" ng-click="ctlr.confirmar(pedido)"/>
                    <input type="button" value="Rechazar" class="btn btn-danger" ng-click="ctlr.rechazar(pedido)"/>
                </div>
                <div class="col-sm-12 center-content-horizontal">
                    <div><span class="list-item-label">Expira en:</span></div>
                    <div><span class="list-item">{{pedido.timer.minute}}:{{pedido.timer.second}}</span></div>
                </div>
            </div>
            <hr class="col-sm-11">
        </div>
    </div>
</div>
