<div id="pedidosActivos" class="panel panel-default col-nopadding" ng-controller="PedidosActivosController as ctlr">
    <div class="panel-heading">Pendidos Activos</div>
    <div class="panel-body col-nopadding">
        <div ng-repeat="pedido in ctlr.pedidos" class="col-sm-12">
            <div class="col-sm-12 col-nopadding backgroud-photo" ng-class="pedido.background"><div class="backgroud-photo-heading"><span class="list-heading">{{pedido.json.viaje}}</span></div></div>
            <div class="col-sm-12 col-nopadding"><span class="list-item-label">Carga:</span><span class="list-item">{{pedido.json.carga}}</span></div>
            <div class="col-sm-12 col-nopadding"><span class="list-item-label">Entrega:</span><span class="list-item">{{pedido.json.entrega}}</span></div>
            <hr class="col-sm-11">
        </div>
    </div>
</div>
