<div class="col-sm-12" style="background-color: #505050;opacity: 0.95;height: 50px;margin-bottom: 10px;/* position: fixed; */height: 50px; width: 100%; position: fixed; left: 0px; top: 0px;z-index: 99;">
    <div class="col-md-12 col-lg-10 col-lg-offset-1 center-content" style="height: 50px">
        <div class="col-md-11 col-lg-6">
            <img src="resources/images/logo.png" style="display:none;max-height: 40px;">
            <img src="resources/images/logo_texto.png" style="display:none;max-height: 30px; margin-left: 10px">
        </div>
        <div class="col-md-1 col-lg-6">
            <div style="float: right;" ng-controller="LoginController as loginCtrl">
                <form name="loginForm" ng-submit="loginForm.$valid && loginCtrl.Login()" novalidate>
                    <div class="col-md-12 col-lg-5"><input type="email" id="username" class="form-control input-sm" ng-model="loginCtrl.user.username" required/></div>
                    <div class="col-md-12 col-lg-5"><input type="password" id="contrasena" class="form-control input-sm"  ng-model="loginCtrl.user.password" required/></div>
                    <input type="submit" value="Login" class="btn btn-primary col-md-12 col-lg-2" style="color: white;border-color: whi;border-width: thin;border-style: solid;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;border-radius: 5px;background-color: transparent;border-color: white;"/>
                </form>
            </div>
        </div>
    </div>
</div>