    <div class="col-sm-5">
        <label for="inputProducto" class="control-label">Producto</label>
        <input type="text" class="form-control input" id="inputProducto"name="inputProducto" ng-model="agrPedCtrl.data.Producto" required>
        <span class="invalid-label" ng-show="agrPedForm.inputProducto.$dirty && agrPedForm.inputProducto.$invalid">
            <span ng-show="agrPedForm.inputProducto.$error.required">Producto es requerido.</span>
        </span>
    </div>
    <div class="col-sm-2">
        <label for="inputValor" class="control-label">Valor (USD / Tn)</label>
        <input type="number" class="form-control input" id="inputValor" name="inputValor" ng-model="agrPedCtrl.data.ValorUnitario" required>
        <span class="invalid-label" ng-show="agrPedForm.inputValor.$dirty && (agrPedForm.inputValor.$invalid) || agrPedCtrl.data.ValorUnitario <= 0)">
            <span ng-show="agrPedForm.inputValor.$error.required">Valor es requerido.</span>
            <span ng-show="agrPedForm.inputValor.$dirty && agrPedCtrl.data.ValorUnitario <= 0">Valor debe ser mayor a 0.</span>
        </span>
    </div>
    <div class="col-sm-3">
        <label class="control-label">Peso (Tn)</label>
        <div class="input-group">
            <span class="input-group-addon">Entre</span>
            <input type="number" class="form-control input" id="inputPesoDesde" name="inputPesoDesde" ng-model="agrPedCtrl.data.PesoDesde" required>
            <span class="input-group-addon">y</span>
            <input type="number" class="form-control input" id="inputPesoHasta" name="inputPesoHasta" ng-model="agrPedCtrl.data.PesoHasta" required>
        </div>
        <span class="invalid-label" ng-show="(agrPedForm.inputPesoDesde.$dirty && (agrPedForm.inputPesoDesde.$invalid || agrPedCtrl.data.PesoDesde <= 0)) || (agrPedForm.inputPesoHasta.$dirty && (agrPedForm.inputPesoHasta.$invalid || agrPedCtrl.data.PesoHasta <= 0))">
            <span ng-show="agrPedForm.inputPesoDesde.$error.required || agrPedForm.inputPesoHasta.$error.required">Peso es requerido.</span>
            <span ng-show="(agrPedForm.inputPesoDesde.$dirty && agrPedCtrl.data.PesoDesde <= 0) || (agrPedForm.inputPesoHasta.$dirty && agrPedCtrl.data.PesoHasta <= 0)">Valor debe ser mayor a 0.</span>
        </span>
    </div>
    <div class="col-sm-2">
        <label class="control-label">Valor Aprox (USD)</label>
        <input type="text" class="form-control input" id="inputValorAprox">
    </div>

