<div class="col-sm-12">
    <div class="col-sm-3 checkbox" ng-repeat="especificacion in agrPedCtrl.especificacionesTrailer">
        <label>
            <input type="checkbox" ng-model="especificacion.value" ng-change="agrPedCtrl.EspecificacionChanged(especificacion)">
            {{especificacion.nombre}}
        </label>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-3 checkbox" ng-repeat="especificacion in agrPedCtrl.especificacionesTransportista track by $index">
        <label>
            <input type="checkbox" ng-model="especificacion.value" ng-change="agrPedCtrl.EspecificacionChanged(especificacion)">
            {{especificacion.nombre}}
        </label>
    </div>
</div>
