<div id="pedidosPendientes" class="panel panel-default" ng-controller="PedidosPendientesController as pedPenCtlr">
    <div class="panel-heading">Pendidos Pendientes</div>
    <div class="panel-body">
        <div ng-repeat="pedido in pedPenCtlr.pedidos" class="col-sm-12">
            <div class="col-sm-3"><span>{{pedido.json.id}}</span></div>
            <div class="col-sm-6"><span>{{pedido.json.carga}}</span></div>
            <div class="col-sm-3"><span>{{pedido.json.estado}}</span></div>
            <div class="col-sm-3"><span>{{pedido.json.viaje}}</span></div>
            <div class="col-sm-6"><span>{{pedido.json.entrega}}</span></div>
            <div class="col-sm-12" ng-show="pedido.data.get('Estado') == 'PendienteConfirmacion'">
                <div class="col-sm-4">
                    <div>
                        <!--
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 1"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 1"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 2"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 2"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 3"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 3"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') >= 4"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 4"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="pedido.data.get('Transportista').get('Rating') = 5"></span><span class="glyphicon glyphicon-star" ng-show="pedido.data.get('Transportista').get('Rating') < 5"></span>
                        -->
                    </div>
                    <div><span>100% efectividad</span></div>
                    <div><span>50 reviews</span></div>
                </div>
                <div class="col-sm-4">
                    <input type="button" value="Confirmar" class="btn btn-primary" ng-click="pedPenCtlr.confirmar(pedido)"/>
                    <input type="button" value="Rechazar" class="btn btn-danger" ng-click="pedPenCtlr.rechazar(pedido)"/>
                </div>
                <div class="col-sm-4">
                    <div><span>Expira en:</span></div>
                    <div>{{pedido.timer.minute}}:{{pedido.timer.second}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
