<div id="agregarPedido" class="panel panel-primary" ng-controller="AgregarPedidoController as agrPedCtrl">
    <div id="agregarPedidoHeading" class="panel-heading panel-heading-actions center-content">
        <div class="col-sm-8">
            <h4 class="panel-title">
                <a ng-click="agrPedCtrl.ToggleForm()" data-toggle="collapse" data-target="#agregarPedidBody">
                    Agregar Pedido
                </a>
            </h4>
        </div>
        <div class="col-sm-4" ng-show="agrPedCtrl.open">
            <div ng-include="'templates/components/agregarPedido/AgregarPedidoHeader.html'"></div>
        </div>
    </div>

    <div id="agregarPedidBody" class="panel-body collapse">
        <form name="agrPedForm" novalidate>
            <hr class="col-sm-11">
            <div ng-include="'templates/components/agregarPedido/AgregarPedidoViaje.html'"></div>
            <hr class="col-sm-11">
            <div ng-include="'templates/components/agregarPedido/AgregarPedidoProducto.html'"></div>
            <hr class="col-sm-11">
            <div ng-include="'templates/components/agregarPedido/AgregarPedidoTransporte.html'"></div>

            <div class="col-sm-12" ng-show="agrPedCtrl.isDespachador">
                <hr class="col-sm-11">
                <div ng-include="'templates/components/agregarPedido/AgregarPedidoTransportistas.html'"></div>
            </div>

            <hr class="col-sm-11">
            <div ng-include="'templates/components/agregarPedido/AgregarPedidoActions.html'"></div>
            <div ng-include="'templates/components/agregarPedido/AgregarPedidoPlantillaModal.html'"></div>


        </form>
    </div>
</div>
