<div class="col-lg-10 col-lg-offset-1">
    <div class="home-div home-text">
        <div style="margin:auto;background-image: url('resources/images/truck.png');height: 100px;width: 100px;border-radius: 50px;background-size: cover;"></div>
        <h1>Para los Transportistas</h1>
        <p>Forma parte de nuestra red de transportistas y extiende tu negocio, beneficiándote de nuevas oportunidad y mercados para brindar tus servicios. Con easyruta podrás tomar pedidos a cualquier hora y en el destino en el que encuentres optimizando al máximo tus costos.</p>
        <p>Ponemos a tu disposición nuestra aplicación web y móvil para que te saques ventaja de los beneficios de easyruta a cualquier hora y en cualquier lugar.</p>
        <p>Nuestra comisión es la mas baja del mercado, el 4% para viajes de menos de 200 USD y un valor fijo de 10 USD para viajes de 200 USD o mas.</p>
        <div style="text-align: center">
            <input type="button" class="btn-primary" value="REGISTRATE HOY!!!" style="margin:auto;padding:10px;border-radius:5px;display:block">
        </div>
    </div>
</div>

