<div class="col-nopadding col-nopadding col-sm-12">
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Origen</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Max. de Carga</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Max. de Entrega</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.origen}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.carga}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.descarga}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Destino</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora de Inicio</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Finalizacion</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.destino}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.inicio}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.finalizacion}}</span>
    </div>
</div>