<div class="col-nopadding col-nopadding col-sm-12">
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Origen</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Max. de Carga</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Max. de Entrega</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.origen}} - {{ctlr.pedido.origenDireccion}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.carga}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.entrega}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Destino</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Creacion</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Asignacion</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.destino}} - {{ctlr.pedido.destinoDireccion}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.creacion}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.asignacion}}</span>
    </div>

    <div class="col-sm-12 col-md-4 col-md-offset-4">
        <label class="control-label">Hora de Inicio</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Hora Finalizacion</label>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-4">
        <span class="form-control-readonly">{{ctlr.pedido.inicio}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.finalizacion}}</span>
    </div>

</div>