<div class="col-nopadding col-nopadding col-sm-12">
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Producto</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Catidad/Peso</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="control-label">Valor</label>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.producto}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.cantidad}}</span>
    </div>
    <div class="col-sm-12 col-md-4">
        <span class="form-control-readonly">{{ctlr.pedido.valor}}</span>
    </div>
</div>