<div class="col-nopadding col-nopadding col-sm-12">
    <div class="col-sm-12" ng-show="ctlr.pedido.transportista">
        <div class="col-sm-12 col-md-2">
            <div class="list-item-image-md" ng-style="{'background-image': 'url(' + ctlr.pedido.transportista.photo + ')'}"/>
        </div>
        <div class="col-sm-12 col-md-10">
            <div class="col-sm-12">
                <span class="form-control-readonly">{{ctlr.pedido.transportista.referencia}}</span>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="control-label">Rating</label>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Eficiencia</label>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Telefono</label>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12 col-nopadding">
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="ctlr.pedido.transportista.rating >= 1"></span><span class="glyphicon glyphicon-star" ng-show="ctlr.pedido.transportista.rating < 1"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="ctlr.pedido.transportista.rating >= 2"></span><span class="glyphicon glyphicon-star" ng-show="ctlr.pedido.transportista.rating < 2"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="ctlr.pedido.transportista.rating >= 3"></span><span class="glyphicon glyphicon-star" ng-show="ctlr.pedido.transportista.rating < 3"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="ctlr.pedido.transportista.rating >= 4"></span><span class="glyphicon glyphicon-star" ng-show="ctlr.pedido.transportista.rating < 4"></span>
                        <span class="glyphicon glyphicon-star" style="color:#BBD41C" ng-show="ctlr.pedido.transportista.rating == 5"></span><span class="glyphicon glyphicon-star" ng-show="ctlr.pedido.transportista.rating < 5"></span>
                    </div>                </div>
                <div class="col-sm-4">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.efectividad}}% efectividad</span>
                </div>
                <div class="col-sm-4">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.telefono}}</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <label class="control-label">Placa</label>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Marca</label>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Año</label>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Modelo</label>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Color</label>
                </div>
                <div class="col-sm-3">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.placa}}</span>
                </div>
                <div class="col-sm-2">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.modelo}}</span>
                </div>
                <div class="col-sm-2">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.color}}</span>
                </div>
                <div class="col-sm-2">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.marca}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="form-control-readonly">{{ctlr.pedido.transportista.anio}}</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="col-sm-11">
    <div class="col-sm-12 col-md-3">
        <div class="col-sm-12">
            <label class="control-label">Tipo de Transporte</label>
        </div>
        <div class="col-sm-12">
            <div>
                <div style="display: flex;justify-content: center;">
                    <span ng-class="ctlr.pedido.tipoImage" style="font-size: xx-large;"></span>
                </div>
                <div style="display: flex;justify-content: center;">
                    <span style="font-size: x-small;">{{ctlr.pedido.tipo}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9" ng-show="ctlr.pedido.tipo == 'furgon' || ctlr.pedido.tipo == 'plataforma'">
        <div class="col-sm-12">
            <label class="control-label">{{ctlr.pedido.adicional}}</label>
        </div>
        <div class="col-sm-12">
            <span class="form-control-readonly">{{ctlr.pedido.adicionalValor}}</span>
        </div>
        <div class="col-sm-12" ng-show="ctlr.pedido.transportista.tipo == 'furgon'">
            <label class="control-label">Refrigerado?</label>
        </div>
        <div class="col-sm-12" ng-show="ctlr.pedido.transportista.tipo == 'furgon'">
            <span class="form-control-readonly">{{ctlr.pedido.refrigerado}}</span>
        </div>
    </div>
</div>